{% extends 'crud/base.html' %}
{% block title %}{{ form.instance.pk|yesno:'Edit Course,Add Course' }}{% endblock %}
{% block content %}
<h2>{{ form.instance.pk|yesno:'Edit Course,Add Course' }}</h2>
<form method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name|add_class:'form-control' }}
    </div>
    <div class="mb-3">
        {{ form.description.label_tag }}
        {{ form.description|add_class:'form-control' }}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'course_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
